<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @round.number %>
</p>

<p>
  <strong>Question:</strong>
  <%= @questions.find(@round.number).script %>
</p>

<p>
  <strong>Messages:</strong>
  <%= link_to @messages.find(@round.number*2-1).script, controller: "rounds", action: "show", id: @round.number+1 %>
    <%= @messages.find(@round.number*2).script %>
  <a href="https://cckate.files.wordpress.com/2010/05/funny-pictures-cat-blinds-abort-retry-fail1.jpg">
    <%= @messages.find(@round.number*2).script %>
  </a>
</p>



<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
